<!doctype html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>

    <title>{{ title }}</title>
</head>

<style>
    * {
        font-family: 'Inter', serif;
    }
</style>

<body class="h-full flex-col flex mx-4">

{% if has_header %}{% include 'includes/header.html' %}{% endif %}

{% block content %}{% endblock %}

{% if has_footer %}{% include 'includes/footer.html' %}{% endif %}

<script src="https://cdn.jsdelivr.net/npm/preline@2.5.1/dist/preline.js"></script>

</body>
</html>