{% extends 'base.html' %}

{% block content %}
    <div class="w-full max-w-7xl mx-auto my-4">

        <h1 class="text-3xl font-bold mb-8">Please select an image to processing</h1>
        <form class="space-y-2" method="POST" enctype="multipart/form-data">

            <input type="file" name="image" accept="image/*" required class="block border border-gray-200 shadow-sm rounded-lg text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none
                file:bg-gray-50 file:border-0 file:me-4 file:py-3 file:px-4">

            <button type="submit"
                    class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">
                Submit
            </button>
        </form>

        <div class="mt-8 space-y-4">
            {% if prediction %}
                <div class="space-y-2">
                    <p class="text-gray-500">Server response:</p>
                    <pre class="text-wrap w-full bg-gray-100 rounded-lg px-4 py-2">{{ prediction }}</pre>
                </div>
            {% endif %}

            {% if image %}
                <div class="space-y-2">
                    <p class="text-gray-500">Uploaded image:</p>
                    <img class="border rounded-lg w-[24rem]" src="data:image/png;base64,{{ image }}" alt="Uploaded Image"/>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}